*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.85;
  // background-color: #e3edf7;
  background: rgb(232,205,247);
  background: linear-gradient(180deg, rgba(232,205,247,0.639093137254902) 21%, rgba(126,163,175,0.7147233893557423) 100%);
}

img {
  display: block;
  // max-width: 100%;
  height: auto;
  width: 100%;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}











// .container {
//    width: 1200px;
//    padding-left: 15px;
//    padding-right: 15px;
//    margin: 0 auto;
//    outline: 1px solid red;
// }

// .section {
//    padding-top: 120px;
//    padding-bottom: 120px;
// }

// .visually-hidden {
//   position: absolute;
//   white-space: nowrap;
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   border: 0;
//   padding: 0;
//   clip: rect(0 0 0 0);
//   clip-path: inset(50%);
//   margin: -1px;
// }

// address {
//   font-style: normal;
// }