.content {
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  width: 350px;
  border-radius: 15px;
  padding: 25px 30px;
}

.material-symbols-rounded {
  cursor: pointer;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;

}

.top-bar .material-symbols-rounded {
  font-size: 24px;
}

.music-image {
  width: 230px;
  height: 230px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  margin-top: 25px;
  padding: 7px;
}

.music-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-titles {
  text-align: center;
  margin: 30px 0;
  color: #4d4d4d;
}

.music-titles .name {
  font-size: 19px;
}

.music-titles .artist {
  font-size: 17px;
  margin-top: 3px;
  opacity: 0.9;
}

.progress-details {
  width: 100%;
  height: 6px;
  border-radius: 15px;
  background-color: #ccc;
}

.progress-bar {
  position: relative;
  width: 10%;
  height: inherit;
  border-radius: inherit;
  background-color: #0987f6;
  cursor: pointer;
}

.progress-bar span {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #0987f6;
  border-radius: inherit;
  transform: translateY(-25%);
  right: -5px;
  opacity: 0;
  transition: opacuty 0.3s ease-out;
}

.progress-details:hover .progress-bar span {
  opacity: 1;
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2px;
  color: #4d4d4d;
}

.control-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
}

.control-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  color: #4d4d4d;
  border: 0;
  outline: none;
}

.control-btn button:active {
  box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15), inset 
  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  // transform: scale(0.98);
}